In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd 
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/dataset/temps.csv")

In [ ]:
# One-hot encode categorical features
df= pd.get_dummies(df)
df.head(5)

   year  month  day  temp_2  ...  week_Sun  week_Thurs  week_Tues  week_Wed
0  2016      1    1      45  ...         0           0          0         0
1  2016      1    2      44  ...         0           0          0         0
2  2016      1    3      45  ...         1           0          0         0
3  2016      1    4      44  ...         0           0          0         0
4  2016      1    5      41  ...         0           0          1         0

[5 rows x 18 columns]

In [ ]:
#define the features and target 
features= ["year","month","day","week_Fri","week_Mon","week_Sat","week_Sun","week_Thurs","week_Tues","week_Wed","temp_2","temp_1","average"]
X=df[features]
y=df.actual

In [ ]:
#define model 
forcast= DecisionTreeRegressor()
# Split into validation and training data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)
forecast=DecisionTreeRegressor(random_state=1)

In [ ]:
#fiting the model 
forcast.fit(train_X,train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [ ]:
# Make validation predictions and calculate mean absolute error
val_predictions = forcast.predict(val_X)
val_mae = mean_absolute_error(val_predictions, val_y)
print("Validation MAE: {:,.0f}".format(val_mae))

Validation MAE: 6

In [ ]:
print(val_predictions)

[68. 76. 73. 73. 77. 59. 57. 46. 64. 72. 45. 82. 64. 92. 57. 65. 44. 57.
 57. 68. 53. 82. 71. 81. 60. 51. 83. 70. 60. 35. 59. 64. 63. 71. 73. 75.
 75. 54. 36. 49. 81. 80. 63. 41. 73. 67. 63. 67. 73. 57. 65. 70. 57. 44.
 73. 73. 44. 75. 52. 60. 64. 49. 87. 51. 58. 57. 60. 56. 64. 72. 71. 62.
 58. 67. 75. 53. 53. 49. 80. 54. 71. 46. 67. 61. 71. 51. 50.]

In [ ]:
print(val_y)

85     64
191    75
107    81
105    89
123    77
       ..
250    67
111    55
204    79
51     60
9      52
Name: actual, Length: 87, dtype: int64

In [ ]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [ ]:
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5,10,12,15,25, 50, 500, 5000,100000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %f" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  5.371723
Max leaf nodes: 10  		 Mean Absolute Error:  4.820483
Max leaf nodes: 12  		 Mean Absolute Error:  4.688201
Max leaf nodes: 15  		 Mean Absolute Error:  4.954047
Max leaf nodes: 25  		 Mean Absolute Error:  5.620480
Max leaf nodes: 50  		 Mean Absolute Error:  5.732298
Max leaf nodes: 500  		 Mean Absolute Error:  6.160920
Max leaf nodes: 5000  		 Mean Absolute Error:  6.160920
Max leaf nodes: 100000  		 Mean Absolute Error:  6.160920

In [ ]:
score={leaf_size:get_mae(leaf_size,train_X,val_X,train_y,val_y) for leaf_size in range(5,500)}

# Store the best value of max_leaf_nodes 
best_tree_size =min(score,key=score.get)

In [ ]:
best_tree_size

12

In [ ]:
final_model = DecisionTreeRegressor(max_leaf_nodes = best_tree_size,random_state=1)
final_model.fit(X, y)
prediction = final_model.predict(X)

In [ ]:
print(mean_absolute_error(y,prediction))

3.342638235338363

In [ ]:
prediction.shape

(348,)

In [ ]:
import numpy as np
y=np.array(y)
y.shape

(348,)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y,prediction)

ValueError: ignored